*.cache
Makefile*
*.tgz
*.bz2
SyntroControl/Makefile*
SyntroStore/Makefile*
SyntroExec/Makefile*
SyntroConsole/Makefile*
SyntroCFS/Makefile*
SyntroGUI/Makefile*
SyntroControlLib/Makefile*
SyntroLog/Makefile*
Debug/
Release/
Output/
bin/*.dll
DebugStatic/
ReleaseStatic/
StaticRelease/
StaticDebug/
release/
debug/
Deploy/
ARMDebug/
ARMRelease/
GeneratedFiles/
libSyntro*
object_script.*
*.log.*
*.exe
*.lib
*.ilk
*.pdb
*.x470MV
*.o470MV
*.log
*.ncb
*.user
*.suo
*.aps
*.obj
*.msi
*.pch
*.ini
*.srf
*.srx
openexr-mac/
openexr-1.4.0-vsnet2003/
*~
*.a
*.o
*.axf
*.bin
*.map
!.gitignore
.metadata/
*.sdf
*.opensdf
ipch/
*.dat
*.db
*.opendb
